* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #012734;
    line-height: 1.7;
    background-color: #035761;
}

a{
    font-size: 12px;
    color: #edf2f4;
    transition: all 400ms ease;
}

a:hover{
    color: #ff7b02;
    text-decoration: underline;
}

.container{
    max-width: 100%;
    margin: 0 auto; 
}

nav{
    height: 5rem;
    min-width: 90%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    position: fixed;
    top: 20px;
    left: 50px;
    right: 50px;  
    z-index: 99;
}

.nav_links {
    margin-left: 250px;
}

.nav_socials {
    margin-left: 100px;
}

.nav_container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.27);
    border-radius: 25cm;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_toggle-btn{
    display: none;
}

.nav_logo{
    width: 7.5rem;
}


.nav_links{
    display: flex;
    gap: 4rem;
}

.nav_socials{
    display: flex;
    gap: 1rem;
}

.nav_socials a{
    width: 2rem;
    height: 2rem;
    background: linear-gradient(#e5a55d, #ff7b02);
    border-radius: 0.5rem;
    color: #f6fafb;
    display: grid;
    place-items: center;
}

.nav_socials a:hover{
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}

.span {
    color: red;
    font-size: 22px;
}

.nav_logo{
    width: 7.5rem;
}

.location-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.map iframe {
    margin-top: 100px;
    width: 500px;
    height: 500px;
    border-radius: 75px;
    margin-right: 200px;
}

.media-info{
    width: 400px;
    margin-left: 200px;
    margin-top: 50px;
}

.media-info-link {
    color: #f6fafb;
}

.media-info li{
    list-style: none;
    font-size: 1.4em;
}

.media-info li a{
    color: #f6fafb;
    text-decoration: none;
}


.media-info li:not(:last-child){
    margin-bottom: 50px;
}

.media-info li:nth-child(1), .media-info li:nth-child(5){
    padding-left: 100px;
}

.media-info li:nth-child(2), .media-info li:nth-child(4){
    padding-left: 50px;
}

.sec-03{
    margin-bottom: 100px;
}


.data {
    background-color: #033d44;
    margin-top: 30px;
}

.data-box-text {
    color: white;
    padding: 30px;
    margin-left: 50px;
    padding-top: 50px;
}

.data-box-span {
    color: red;
    margin-left: 10px;
}

.data-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time-work {
    color: #f6fafb;
    margin-right: 100px;
    padding-top: 50px;
}

.footer {
    background-color: #033d44;
    padding: 20px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    font-size: 26px;
    margin-left: 70px;
}

.footer-container-text {
    color: #f6fafb;
}